In [127]:
from get_data import fetch_data # Module to fetch and process data
import pandas as pd
import numpy as np

import folium
import plotly
from dateutil.relativedelta import relativedelta

In [2]:
collision_df = fetch_data()

Data successfully downloaded and processed!

In [162]:
collisions = collision_df.copy()
collisions['CRASH DATE'] = pd.to_datetime(collisions['CRASH DATE'])
collisions.drop(columns=['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5'], inplace=True)

collisions.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,COLLISION_ID,CRASH YEAR,CRASH MONTH-YEAR,CRASH HOUR
0,2021-04-14,2022-01-10 05:32:00,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,4407480,2021,2021-04,5
1,2021-04-13,2022-01-10 21:35:00,BROOKLYN,11217,40.68358,-73.97617,1.0,0.0,1,0,0,0,0,0,NaN,4407147,2021,2021-04,21
2,2021-04-15,2022-01-10 16:15:00,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Pavement Slippery,4407665,2021,2021-04,16
3,2021-04-13,2022-01-10 16:00:00,BROOKLYN,11222,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,4407811,2021,2021-04,16
4,2021-04-12,2022-01-10 08:25:00,NaN,NaN,0.00000,0.00000,0.0,0.0,0,0,0,0,0,0,NaN,4406885,2021,2021-04,8

In [230]:
last_updated = collisions['CRASH TIME'].max()

last_updated.strftime("%m/%d/%Y")

'01/10/2022'

In [163]:
grouped_by_month = collisions.groupby(['CRASH YEAR', 'CRASH MONTH-YEAR']).agg({
    'COLLISION_ID': 'count',
    'NUMBER OF PERSONS INJURED': 'sum',
    'NUMBER OF PERSONS KILLED': 'sum',
    'NUMBER OF PEDESTRIANS INJURED': 'sum',
    'NUMBER OF PEDESTRIANS KILLED': 'sum',
    'NUMBER OF CYCLIST INJURED': 'sum',
    'NUMBER OF CYCLIST KILLED': 'sum',
    'NUMBER OF MOTORIST INJURED': 'sum',
    'NUMBER OF MOTORIST KILLED': 'sum'
})
grouped_by_month.reset_index(inplace=True)

In [164]:
# grouped_by_month['cyclist_killed_cumsum'] = grouped_by_month.groupby(['CRASH YEAR'])['NUMBER OF CYCLIST KILLED'].cumsum()
# grouped_by_month

In [165]:
grouped_by_month['collisions_cumsum'] = grouped_by_month.groupby(['CRASH YEAR'])['COLLISION_ID'].cumsum()

grouped_by_month['person_injured_cumsum'] = grouped_by_month.groupby(['CRASH YEAR'])['NUMBER OF PERSONS INJURED'].cumsum()
grouped_by_month['person_killed_cumsum'] = grouped_by_month.groupby(['CRASH YEAR'])['NUMBER OF PERSONS KILLED'].cumsum()

grouped_by_month['peds_injured_cumsum'] = grouped_by_month.groupby(['CRASH YEAR'])['NUMBER OF PEDESTRIANS INJURED'].cumsum()
grouped_by_month['peds_killed_cumsum'] = grouped_by_month.groupby(['CRASH YEAR'])['NUMBER OF PEDESTRIANS KILLED'].cumsum()

grouped_by_month['cyclist_injured_cumsum'] = grouped_by_month.groupby(['CRASH YEAR'])['NUMBER OF CYCLIST INJURED'].cumsum()
grouped_by_month['cyclist_killed_cumsum'] = grouped_by_month.groupby(['CRASH YEAR'])['NUMBER OF CYCLIST KILLED'].cumsum()


grouped_by_month.reset_index(inplace=True)
grouped_by_month.head()

,index,CRASH YEAR,CRASH MONTH-YEAR,COLLISION_ID,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,collisions_cumsum,person_injured_cumsum,person_killed_cumsum,peds_injured_cumsum,peds_killed_cumsum,cyclist_injured_cumsum,cyclist_killed_cumsum
0,0,2012,2012-07,16992,4855.0,22.0,855,6,450,3,3550,13,16992,4855.0,22.0,855,6,450,3
1,1,2012,2012-08,17142,4751.0,27.0,850,15,508,1,3393,11,34134,9606.0,49.0,1705,21,958,4
2,2,2012,2012-09,16535,4689.0,26.0,893,13,434,1,3362,12,50669,14295.0,75.0,2598,34,1392,5
3,3,2012,2012-10,16864,4572.0,21.0,977,13,329,1,3260,7,67533,18867.0,96.0,3575,47,1721,6
4,4,2012,2012-11,15889,3995.0,14.0,1037,8,277,0,2681,6,83422,22862.0,110.0,4612,55,1998,6

In [166]:
max_date = collisions['CRASH MONTH-YEAR'].max()

collisions_YTD = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == max_date]['collisions_cumsum']

persons_injured_YTD = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == max_date]['person_injured_cumsum']
persons_killed_YTD = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == max_date]['person_killed_cumsum']

peds_injured_YTD = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == max_date]['peds_injured_cumsum']
peds_killed_YTD = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == max_date]['peds_killed_cumsum']

cyclists_injured_YTD = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == max_date]['cyclist_injured_cumsum']
cyclists_killed_YTD = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == max_date]['cyclist_killed_cumsum']

In [168]:
last_year = max_date.to_timestamp() - pd.DateOffset(years=1)
last_YTD= last_year.to_period('M')
last_YTD

collisions_YTD_previous = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == last_YTD]['collisions_cumsum']

persons_injured_YTD_previous = persons_injured_YTD.loc[grouped_by_month['CRASH MONTH-YEAR'] == last_YTD]['person_injured_cumsum']
persons_killed_YTD_previous = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == last_YTD]['person_killed_cumsum']

peds_injured_YTD_previous = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == last_YTD]['peds_injured_cumsum']
peds_killed_YTD_previous = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == last_YTD]['peds_killed_cumsum']

cyclists_injured_YTD_previous = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == last_YTD]['cyclist_injured_cumsum']
cyclists_killed_YTD_previous = grouped_by_month.loc[grouped_by_month['CRASH MONTH-YEAR'] == last_YTD]['cyclist_killed_cumsum']

In [194]:
collisions_perc_change = (collisions_YTD.values - collisions_YTD_previous.values)/collisions_YTD_previous.values*100

peds_injured_perc_change = (peds_injured_YTD.values - peds_injured_YTD_previous.values)/peds_injured_YTD_previous.values*100
peds_killed_perc_change = (peds_killed_YTD.values - peds_killed_YTD_previous.values)/peds_killed_YTD_previous.values*100

cyclists_injured_perc_change = (cyclists_injured_YTD.values - cyclists_injured_YTD_previous.values)/cyclists_injured_YTD_previous.values*100
cyclists_killed_perc_change = (cyclists_killed_YTD.values - cyclists_killed_YTD_previous.values)/cyclists_killed_YTD_previous.values*100

In [198]:
grouped_by_month[grouped_by_month['CRASH YEAR'] == 2021]

,index,CRASH YEAR,CRASH MONTH-YEAR,COLLISION_ID,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,collisions_cumsum,person_injured_cumsum,person_killed_cumsum,peds_injured_cumsum,peds_killed_cumsum,cyclist_injured_cumsum,cyclist_killed_cumsum
102,102,2021,2021-01,7689,3112.0,17.0,529,9,284,2,2300,6,7689,3112.0,17.0,529,9,284,2
103,103,2021,2021-02,6962,2549.0,12.0,389,9,142,0,2018,3,14651,5661.0,29.0,918,18,426,2
104,104,2021,2021-03,8258,3526.0,18.0,530,10,324,0,2632,8,22909,9187.0,47.0,1448,28,750,2
105,105,2021,2021-04,8749,4094.0,27.0,541,15,355,0,3030,10,31658,13281.0,74.0,1989,43,1105,2
106,106,2021,2021-05,10281,5035.0,33.0,642,17,511,1,3639,13,41939,18316.0,107.0,2631,60,1616,3
107,107,2021,2021-06,10606,5085.0,27.0,627,6,547,5,3626,15,52545,23401.0,134.0,3258,66,2163,8
108,108,2021,2021-07,9998,4826.0,29.0,569,9,496,3,3507,16,62543,28227.0,163.0,3827,75,2659,11
109,109,2021,2021-08,9872,4909.0,27.0,585,12,532,0,3545,13,72415,33136.0,190.0,4412,87,3191,11
110,110,2021,2021-09,9883,4968.0,23.0,713,7,498,3,3480,13,82298,38104.0,213.0,5125,94,3689,14
111,111,2021,2021-10,10192,5027.0,33.0,805,15,543,3,3417,12,92490,43131.0,246.0,5930,109,4232,17
112,112,2021,2021-11,9346,4496.0,24.0,764,11,392,1,3152,12,101836,47627.0,270.0,6694,120,4624,18
113,113,2021,2021-12,8438,4056.0,18.0,792,6,323,1,2778,10,110274,51683.0,288.0,7486,126,4947,19

In [ ]:
grouped_by_month[grouped_by_month['CRASH YEAR'] == 2021]

In [44]:
########
# KPIs #
########

max_date = collisions['CRASH MONTH-YEAR'].max()

grouped_by_month_cumsum = grouped_by_month.cumsum(axis=0).reset_index()
grouped_by_month_cumsum

,CRASH MONTH-YEAR,COLLISION_ID,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
0,2012-07,16992,4855.0,22.0,855,6,450,3,3550,13
1,2012-08,34134,9606.0,49.0,1705,21,958,4,6943,24
2,2012-09,50669,14295.0,75.0,2598,34,1392,5,10305,36
3,2012-10,67533,18867.0,96.0,3575,47,1721,6,13565,43
4,2012-11,83422,22862.0,110.0,4612,55,1998,6,16246,49
...,...,...,...,...,...,...,...,...,...,...
110,2021-09,1827084,512169.0,2398.0,94760,1240,43406,181,372204,967
111,2021-10,1837276,517196.0,2431.0,95565,1255,43949,184,375621,979
112,2021-11,1846622,521692.0,2455.0,96329,1266,44341,185,378773,991
113,2021-12,1855060,525748.0,2473.0,97121,1272,44664,186,381551,1001
114,2022-01,1856546,526375.0,2477.0,97233,1274,44695,186,382021,1003

In [123]:
persons_killed_YTD = grouped_by_month_cumsum.loc[grouped_by_month_cumsum['CRASH MONTH-YEAR'] == max_date]['NUMBER OF PERSONS KILLED']
persons_killed_YTD

114    2477.0
Name: NUMBER OF PERSONS KILLED, dtype: float64

In [35]:
print(f'Data through {max_date}')

Data through 2022-01

In [14]:
m = folium.Map(location=[40.7128, -74.0060])




m

In [31]:
collisions['CRASH TIME'] = pd.to_datetime(collisions['CRASH TIME'])
collisions['CRASH HOUR'] = collisions['CRASH TIME'].dt.floor('H')

In [32]:
collisions.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,CRASH YEAR,CRASH MONTH-YEAR,CRASH HOUR,HOUR
0,04/14/2021,2022-01-10 05:32:00,NaN,NaN,NaN,NaN,0.0,0.0,0,0,...,NaN,Sedan,Sedan,NaN,NaN,NaN,2021,2021-04,2022-01-10 05:00:00,6
1,04/13/2021,2022-01-10 21:35:00,BROOKLYN,11217,40.68358,-73.97617,1.0,0.0,1,0,...,NaN,Sedan,NaN,NaN,NaN,NaN,2021,2021-04,2022-01-10 21:00:00,22
2,04/15/2021,2022-01-10 16:15:00,NaN,NaN,NaN,NaN,0.0,0.0,0,0,...,NaN,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,2021,2021-04,2022-01-10 16:00:00,16
3,04/13/2021,2022-01-10 16:00:00,BROOKLYN,11222,NaN,NaN,0.0,0.0,0,0,...,NaN,Sedan,NaN,NaN,NaN,NaN,2021,2021-04,2022-01-10 16:00:00,16
4,04/12/2021,2022-01-10 08:25:00,NaN,NaN,0.00000,0.00000,0.0,0.0,0,0,...,NaN,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,2021,2021-04,2022-01-10 08:00:00,8

In [50]:
collisions.fillna({'CONTRIBUTING FACTOR VEHICLE 1':1,'CONTRIBUTING FACTOR VEHICLE 2':1, 'CONTRIBUTING FACTOR VEHICLE 3':1, 'CONTRIBUTING FACTOR VEHICLE 4':1, 'CONTRIBUTING FACTOR VEHICLE 5':1}, inplace=True)

collisions['MULTI-CAR'] =  collisions[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].sum(numeric_only=True)

In [51]:
collisions.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,MULTI-CAR
0,04/14/2021,5:32,NaN,NaN,NaN,NaN,NaN,BRONX WHITESTONE BRIDGE,NaN,NaN,...,1,1,1,4407480,Sedan,Sedan,NaN,NaN,NaN,NaN
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,"(40.68358, -73.97617)",NaN,NaN,620 ATLANTIC AVENUE,...,1,1,1,4407147,Sedan,NaN,NaN,NaN,NaN,NaN
2,04/15/2021,16:15,NaN,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,NaN,NaN,...,1,1,1,4407665,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,NaN
3,04/13/2021,16:00,BROOKLYN,11222,NaN,NaN,NaN,VANDERVORT AVENUE,ANTHONY STREET,NaN,...,1,1,1,4407811,Sedan,NaN,NaN,NaN,NaN,NaN
4,04/12/2021,8:25,NaN,NaN,0.00000,0.00000,"(0.0, 0.0)",EDSON AVENUE,NaN,NaN,...,1,1,1,4406885,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,NaN

In [52]:
collisions.drop(['LOCATION', 'COLLISION_ID', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME'], axis=1, inplace=True)
collisions['CRASH YEAR'] = pd.DatetimeIndex(collisions['CRASH DATE']).year
collisions['CRASH MONTH-YEAR'] = pd.to_datetime(collisions['CRASH DATE']).dt.to_period('M')
collisions.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,MULTI-CAR,CRASH YEAR,CRASH MONTH-YEAR
0,04/14/2021,5:32,NaN,NaN,NaN,NaN,0.0,0.0,0,0,...,1,1,Sedan,Sedan,NaN,NaN,NaN,NaN,2021,2021-04
1,04/13/2021,21:35,BROOKLYN,11217,40.68358,-73.97617,1.0,0.0,1,0,...,1,1,Sedan,NaN,NaN,NaN,NaN,NaN,2021,2021-04
2,04/15/2021,16:15,NaN,NaN,NaN,NaN,0.0,0.0,0,0,...,1,1,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,NaN,2021,2021-04
3,04/13/2021,16:00,BROOKLYN,11222,NaN,NaN,0.0,0.0,0,0,...,1,1,Sedan,NaN,NaN,NaN,NaN,NaN,2021,2021-04
4,04/12/2021,8:25,NaN,NaN,0.00000,0.00000,0.0,0.0,0,0,...,1,1,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,NaN,2021,2021-04

In [53]:
list(collisions['VEHICLE TYPE CODE 1'].unique())

['Sedan',
 'Station Wagon/Sport Utility Vehicle',
 'Taxi',
 '�MBU',
 'Pick-up Truck',
 'Box Truck',
 'Bus',
 nan,
 'Ambulance',
 'Tow Truck / Wrecker',
 'E-Bike',
 'Van',
 'Flat Bed',
 'Moped',
 'Tractor Truck Diesel',
 'AMBULANCE',
 'Bike',
 'Trailer',
 'Motorcycle',
 'Garbage or Refuse',
 'SCHOOL BUS',
 'Lift Boom',
 'scooter',
 'CATER',
 'PKUP',
 'Carry All',
 'FDNY Ambul',
 '3-Door',
 'Beverage Truck',
 'SEMI TRAIL',
 'Dump',
 'Convertible',
 '4 dr sedan',
 'dump',
 'Flat Rack',
 'GARBAGE TR',
 'Motorbike',
 'Tanker',
 'Armored Truck',
 'MOPED',
 'SW/VAN',
 'Bulk Agriculture',
 'Motorscooter',
 'UTILITY',
 'Concrete Mixer',
 'Open Body',
 'E-Scooter',
 'unknown',
 'fire truck',
 'Glass Rack',
 'COMMERCIAL',
 'PSD',
 'Scooter',
 'MTA',
 'Multi-Wheeled Vehicle',
 'PK',
 'Minicycle',
 'TRUCK',
 'Truck',
 'Chassis Cab',
 'LIMO',
 'Tractor Truck Gasoline',
 'MACK',
 'Refrigerated Van',
 'van',
 'CARRIER',
 'Fire truck',
 'ambulance',
 'NYPD VAN',
 '2 dr sedan',
 'MTR H',
 'Pallet',
 'AMBULANE',
 'AMB',
 'Mailtruck',
 'COM',
 'UTIL',
 'Pick up tr',
 'EMS bus',
 'FORKLIFT',
 'SANMEN COU',
 'PUMP',
 'FIRE TRUCK',
 'forklift',
 'Dirt Bike',
 'FIRETRUCK',
 'School Bus',
 'FDNY AMBUL',
 'C1',
 'SHUTTLE BU',
 'FDNY',
 'NYS Ambula',
 'TOW TRUCK',
 'Stake or Rack',
 'FORD',
 'Van Camper',
 'GOLF CAR',
 'RV',
 'USPS TRUCK',
 'UHAL',
 'Dodge',
 'Mini Van',
 'trailer',
 'SELF INSUR',
 'SCOOTER',
 'VAN/TRUCK',
 'EMS',
 'kick scoot',
 'LADDER CO',
 'SEMI',
 'MTA BUS',
 'Commercial',
 'Cargo van',
 'Ambu',
 'TRUCK COMM',
 'FORD VAN',
 'Ford Van',
 'MOTOR SCOO',
 'DELIVERY T',
 'Enclosed Body - Nonremovable Enclosure',
 'Skywatch',
 'DUMP TRUCK',
 'ELECTRIC S',
 'Lunch Wagon',
 'SPRINTER V',
 'TL',
 'MACK TRUCK',
 'Minibike',
 'PICK UP',
 'tow truck',
 'Hopper',
 'Flatbed Pi',
 'UNKNOWN',
 'Horse trai',
 'GOLF CART',
 'AMBU',
 'Passenger',
 'crane',
 'PAS',
 'DIRT BIKE',
 'G COM',
 'NYC FIRE T',
 'truck',
 'FDNY FIRE',
 'pick up tr',
 'SELF',
 'Motorscoot',
 'FORD SPRIN',
 'AMBUKANCE',
 'Backhoe Lo',
 'Snow Plow',
 'REFG',
 'POWER LADD',
 'BOX TRUCK',
 'utility tr',
 'UTILITY VE',
 'Mercedes',
 'PICKUP',
 'firetruck',
 'Fire',
 'OML/OMNIBU',
 'post offic',
 'pick up',
 'DELV BR',
 'Well Driller',
 'FDNY truck',
 'MTA bus',
 'Fire Truck',
 'Vanette',
 'AMBULENCE',
 'FDNY ENGIN',
 'EMS Ambula',
 'TRAILER',
 'TRAC',
 'E-scooter',
 'NYC AMBULA',
 'Pickup with mounted Camper',
 'pickup',
 'Forklift',
 'PASSENGER',
 'TRACTOR TR',
 'CMIXER',
 'US POSTAL',
 'FDNY TRUCK',
 'DUMP',
 'GAS SCOOTE',
 'OTHER',
 'TRAILER/FL',
 'POSTAL VEH',
 'FLAT',
 'DELV',
 'G PSD',
 'USPS',
 'PC',
 'HERTZ RAM',
 'Fire Engin',
 'SUBN - AMB',
 'SPARK150 S',
 'MTA Bus',
 'PICKUP TRU',
 'Livestock Rack',
 'TRAILEE',
 'UPS TRUCK',
 'FDNY CHIEF',
 'SPECIAL CO',
 'Quality tr',
 'box truck',
 'Garbage Tr',
 'con ed tru',
 'ROAD SWEEP',
 'EMS/VAN',
 'BOBCAT',
 'ford',
 'Pick up',
 'CO',
 'Amb',
 '7532433',
 'SUBURBAN',
 'Unk',
 '4DS',
 'Tow Truck',
 'FIRE ENGIN',
 'sanitaion',
 'POWER SHOV',
 'Ram Promas',
 'passenger',
 'SKID LOADE',
 'MARKED VAN',
 'EXCAVATOR',
 'Power Shov',
 'BULLDOZER',
 'HD',
 'SANITATION',
 'Excavator',
 'SKYWATCH',
 'NYNJ RAIL',
 'truck trai',
 'box',
 'utility',
 'STAK',
 'VAN TRUCK',
 'AMUBULANCE',
 'sedan',
 'ambu',
 'Postal tru',
 'commercial',
 'SNOW PLOW',
 'Dump truck',
 'FRHT TRAIL',
 'TRK',
 'Van truck',
 'FDNY EMS',
 'Unknown',
 'MTA truck',
 'NIU',
 'TRACTOR',
 'USPS TRUC,',
 'na',
 'Government',
 'Sanitation',
 'FIRET TRUC',
 'G AMB',
 'tow',
 'UTILITY WH',
 'Tk',
 'Fedex',
 'PICK UP TR',
 'U HAUL TRU',
 'Subr',
 'USPS Truck',
 'fdny ambul',
 'ambulette',
 'TRAILOR',
 'CEMENT TRU',
 'Sprinter v',
 'FORK LIFT',
 'nyc EMS',
 'road sweep',
 'REP',
 'Com',
 'refuse tru',
 'Motorized Home',
 'VMS',
 'Flat bed t',
 'Box truck',
 'TRUCK TRAI',
 'Ambulette',
 'USPS truck',
 'FDNY FIRET',
 'CMIX',
 'util',
 'LADDER TRU',
 'sanitaton',
 'tk',
 'g com',
 'E-SKATEBOA',
 'Enclosed Body - Removable Enclosure',
 'usps 88716',
 'ebike',
 'SEDAN',
 'PERM',
 'TF',
 'Firetruck',
 'ESCOOTER S',
 'FIRE',
 'MOTOR HOME',
 'CITY',
 'PASSENGER VEHICLE',
 'CAMPER VAN',
 'mini van',
 'usps truck',
 'tr',
 'TANK',
 'Grumman LL',
 '994',
 'subn',
 'Electric S',
 'ESU REP',
 'self insur',
 'NYPD TOW T',
 'mailtruck',
 'White Van',
 'Dent and S',
 "''lime mope",
 'Pick wh',
 'REVEL scoo',
 'NYC SANITA',
 'gas scoote',
 'NYS AMBULA',
 'DODGE RAM',
 'HWH',
 'Unmarked V',
 'BOX',
 'Pedicab',
 'DUMPSTER T',
 'Gas scoote',
 'CHERV',
 'Post offic',
 'SKATEBOARD',
 'USPS MAIL',
 'crane boom',
 'F550',
 'sprinter v',
 'MOVING TRU',
 'Yamaha',
 'MINI BUS',
 'Work Van',
 'Fork lift',
 'commerical',
 'SEDONA',
 'TLC',
 'FDNY LADDE',
 'Mopd',
 'UTILITY VA',
 'GAS POWERE',
 'ENGINE SP0',
 'Pass',
 'US Mail Tr',
 'gas mo ped',
 'SCOOTER GA',
 'Pro master',
 'forlift',
 'MOTOR SKAT',
 'Can',
 'FLATBED FR',
 'N/A',
 'postal van',
 'UNK',
 'FIRTRUCK',
 'skateboard',
 'TTAILER',
 'fdny ems',
 'AMBULACE',
 'bus',
 'Street Swe',
 'FDNY fire',
 'DELIVERY',
 'Cement Tru',
 'USPS/GOVT',
 'TRUCK VAN',
 'Golf Cart',
 'SUV',
 'CATAPILLAR',
 'SWT',
 'Trac',
 'FLAT  BED',
 'E-BIKE',
 'Fork Lift',
 'COURIER',
 'Courier',
 'Leased amb',
 'SMART CAR',
 'message si',
 'moped',
 'E-UNICYCLE',
 'Street Cle',
 'Lawnmower',
 'BICYCLE',
 'almbulance',
 'dark color',
 'ford van',
 'Tractor tr',
 'FD LADDER',
 'abulance',
 'FDNY Engin',
 'OTH',
 'Go kart',
 'CHEVY EXPR',
 'SLINGSHOT',
 'dilevery t',
 'FDNY #226',
 'FREIGHT FL',
 'UNKN',
 'MOVING VAN',
 'usps',
 'backhoe',
 'Delv',
 'dump truck',
 'Freight',
 'Horse',
 'Cargo Van',
 'USPS VAN',
 'TRUCK FLAT',
 'BOBCAT FOR',
 'Tractor Tr',
 'Pumper',
 'DELIVERY V',
 'DOT EQUIPM',
 'GEN  AMBUL',
 'J1',
 '18 WHEELER',
 'MAIL TRUCK',
 'MOTORSCOOT',
 'government',
 'Front-Load',
 'DRILL RIG',
 'Wh Ford co',
 'suburban',
 'E REVEL SC',
 'LIGHT TRAI',
 'Tractor',
 'UT',
 'cross',
 'FOOD TRUCK',
 'Bucket Tru',
 'gator',
 'JOHN DEERE',
 'f-250',
 'PICK-UP TR',
 'BACK HOE',
 'MECHANICAL',
 'postal tru',
 'CHEVROLET',
 'WORK VAN',
 'Fdny ambul',
 'NYC FD',
 'E-bike',
 'camper tra',
 'FUSION',
 'POSTAL TRU',
 'LCOMM',
 'e skate bo',
 'Ford sprin',
 'Work van',
 'FREIG',
 'FLATBED',
 'Trc',
 'HRSE',
 'Pick up Tr',
 '0',
 'postal bus',
 'F150XL PIC',
 'hrse',
 'CAT',
 'SUBN WHI',
 'E bike',
 'FDNY Fire',
 'com',
 'CARGO VAN',
 'ELEC. UNIC',
 '1C',
 'DEPARTMENT',
 'FDNY Firet',
 'Self',
 'Delivery',
 'E scooter',
 'Garbage tr',
 'E-SCOOTER',
 '50cc Scoot',
 'Cement tru',
 'SMYELLSCHO',
 'work truck',
 'FDNY Truck',
 'USPS POSTA',
 'Mack Truck',
 'Ram',
 'TLR',
 'Constructi',
 'School bus',
 'SCHOOL  BU',
 'NonMotordS',
 'Mack',
 'police rep',
 'EC3',
 'ECONOLINE',
 'FRT',
 'UPS',
 'Pick-Up',
 'RGR',
 'VAN WH',
 'White ambu',
 'Utility.',
 'FREIGHT TR',
 'TRAIL',
 'Tow truck',
 'FDNY EMT',
 'TRL',
 'FREIG DELV',
 'FREIGHTLIN',
 'pc',
 'delviery',
 'Tow',
 'E-Bik',
 'Horse Trai',
 'delivery v',
 'escavator',
 'OMR',
 'P/SH',
 'ford econo',
 'pick',
 'USPS #7530',
 'Hearse',
 'ORION',
 'H1',
 'Piggy back',
 'SE',
 'PUSH SCOOT',
 'postal ser',
 'school bus',
 'nat grid t',
 'yellow cab',
 'G com',
 'COM TRANS',
 'LIT DIRECT',
 'backh',
 'D/V WB',
 'Bobcat',
 'UTILITY TR',
 'food truck',
 'EMERGENCY',
 'fdny truck',
 'amb',
 'WAGON',
 'T880',
 'pay loader',
 'tractor tr',
 'FDNY EMS V',
 'AMBULETTE',
 'OMS',
 'RV/VAN',
 'TR-Trailer',
 'ESU RESCUE',
 'City',
 'pedicab',
 'TTRAILER',
 'I-haul',
 'BOOM LIFT',
 'Toyota',
 'JEEP',
 'MINI SCHOO',
 'U-Haul min',
 'Pickup tru',
 'freight',
 '12 PASSENG',
 'STREET SWE',
 'USPS VEHIC',
 '12 passage',
 'FIRE APPAR',
 'STREET CLE',
 'PUMPER',
 'pas',
 'Carriage',
 'RMP V',
 'YELLOWPOWE',
 'skate',
 '197209',
 'posta',
 'E450',
 'UTILI',
 'Ambul',
 'SCHOO',
 'Tow t',
 'E-Sco',
 'towe truck',
 'utili',
 'St',
 'amulance',
 'UNKNO',
 'DEPT VAN #',
 'MOPD',
 'GRUMM',
 'Trail',
 'FIRET',
 'Wagon',
 'AMBUL',
 'E bik',
 'PSH',
 'US PO',
 'Golf',
 'TRACT',
 'BOX T',
 'UHUAL',
 'BACKH',
 'DELVI',
 'box t',
 'SCOOT',
 'picku',
 'trail',
 'DELIV',
 'L1',
 'FORKL',
 'van t',
 'SKATE',
 'POSTA',
 'Box T',
 'PAYLO',
 'SANIT',
 'Forkl',
 'ECONO',
 'VAN/T',
 'tract',
 'FUEL',
 'TRC',
 'TANKE',
 'GARBA',
 '3 WHE',
 '2015',
 'SPRIN',
 'road',
 'DOT T',
 'CRANE',
 'MTA B',
 'FLAT/',
 'Food',
 'deliv',
 'COMME',
 'scoot',
 'acces',
 'ROAD',
 'schoo',
 'STREE',
 'Scoot',
 'FEDEX',
 'fdny',
 'LIEBH',
 'CAB',
 'TOW T',
 'USP M',
 'SANTI',
 'tow t',
 'ambul',
 'LTR',
 'comme',
 'prks',
 'Unkno',
 'limo',
 'g spc',
 'CONT',
 'HI TA',
 'CAT.',
 'POLIC',
 'Parce',
 'PICKU',
 'fire',
 'Const',
 'COMM',
 '35 FT',
 'GOLF',
 'WINEB',
 'PU',
 'BoxTr',
 'forkl',
 'Tow T',
 'WHITE',
 'TOWTR',
 'PICK-',
 'E BIK',
 'POWER',
 'MINI',
 'trl',
 'ELECT',
 'TRLR',
 'stree',
 'elect',
 'Box t',
 'VAN T',
 'FORK',
 'vespa',
 'Sprin',
 'MOBIL',
 'back',
 'LIMOU',
 'UHAUL',
 'BS',
 'excav',
 'DOLLY',
 'APPOR',
 'F650',
 'golf',
 'Mta',
 'Van T',
 'SKID-',
 'firet',
 'E SCO',
 'DIRT',
 'Schoo',
 'ICE C',
 'motor',
 'KUBOT',
 'NYS A',
 'range',
 'LMB',
 'BULLD',
 'horse',
 'ACCES',
 'FLATB',
 'Barri',
 'comm.',
 'MAIL',
 'unkow',
 'Acces',
 'Van (',
 'Motor',
 'BTM',
 'US Po',
 'Pas',
 'Attac',
 'NTTRL',
 'MOTOR',
 'YELLO',
 'movin',
 'nypd',
 'SUBUR',
 'Elect',
 'Rescu',
 'E-BIK',
 'COURI',
 'E - B',
 'NAVIG',
 'Subn',
 'mta b',
 'COMMU',
 'HORSE',
 'C3',
 'TIR',
 'st',
 'CONST',
 'Motor Home',
 'TRACK EXCA',
 'concr',
 'HINO',
 'dumps',
 'other',
 'semi',
 'Stree',
 'CAT P',
 'power',
 'garba',
 'FRIEG',
 'wagon',
 'Garba',
 'BOOM',
 'Comme',
 'RMP',
 'PASSE',
 'Posta',
 'SEGWA',
 'SC',
 'Deliv',
 'cater',
 'SEA',
 'moter',
 'Hrse',
 'Trl',
 'U-Hau',
 'BUCKE',
 'Mail',
 'Sanit',
 'BK',
 'NYCHA',
 'Snow',
 'COMER',
 'Pick',
 'Picku',
 'Grain',
 'E AMB',
 'NYPD',
 'SPC',
 'A',
 'rv',
 'TKTR',
 'GATOR',
 'VAV',
 'santa',
 'EXCAV',
 'none',
 'Road',
 'Firet',
 'GOVER',
 'te',
 'LTRL',
 'Tract',
 '\x7fomm',
 'TRANS',
 'TRACK',
 'MAC T',
 'UPS T',
 'comm',
 'NISSA',
 'mail',
 'Log',
 'CMS-T',
 'red t',
 'USPS2',
 'Feder',
 'passe',
 'Bicyc',
 'NYC D',
 'WINNE',
 'FRHT',
 'Unkow',
 'USPOS',
 'mc',
 'Fork',
 'EMS A',
 'Track',
 'van c',
 'DIESE',
 'Budge',
 'SWEEP',
 'OMNIB',
 'FED E',
 'ME/BE',
 'BACK',
 'Other',
 'Fd fi',
 'push',
 'CHEVY',
 'Comix',
 'mopad',
 'VAN A',
 '12 Pa',
 'AMbul',
 'DUMPT',
 'LIGHT',
 'fork',
 'ARMY',
 'TOWER',
 'BOAT',
 'e com',
 'MARK',
 'EMRGN',
 'flatb',
 'E COM',
 'ROADS',
 'Utili',
 'Comm',
 'rd/s',
 'COUPE',
 'work',
 'WORKH',
 'freig',
 'Dumps',
 '2- to',
 'BROOM',
 'EBIKE',
 'TRT',
 'BLOCK',
 'CONCR',
 'CHERR',
 'UTV',
 'NYC',
 'LOADE',
 'NS AM',
 'NEW Y',
 'GRAY',
 'e-bik',
 'unk',
 'FRONT',
 'delv',
 'CAMP',
 'RGS',
 'POSTO',
 'WORK',
 'R/V C',
 'sgws',
 'Cat 9',
 'E-MOT',
 'FORK-',
 'Wheel',
 'fd tr',
 'CASE',
 'FD TR',
 'Work',
 'LIBER',
 'COMB',
 'HEAVY',
 'DUMPS',
 'MTA b',
 'R/V',
 'FOOD',
 'FD tr',
 'Spc',
 'BED T',
 'BICYC',
 'WHEEL',
 'Util',
 'e sco',
 'BOBCA',
 'DEMA-',
 'Backh',
 'CART',
 'CEMEN',
 'ice c',
 'TRLR PLT,',
 'boxtr',
 'spec',
 '99999',
 'seagr',
 'White',
 'self',
 'VAN/B',
 'Semi',
 'CHART',
 'NYC M',
 'mcy',
 'icecr',
 'AMABU',
 'OMT',
 'Tow-t',
 'Pick-',
 'CUSHM',
 'ulili',
 'Cargo',
 '15 Pa',
 'Smart',
 'Inter',
 'NYC a',
 'trlr',
 'DOT R',
 'e amb',
 'HIGHL',
 '2 TON',
 'e-350',
 'uhaul',
 'bulld',
 'COMMM',
 'ELECTRIC B',
 'G Sem',
 'Marke',
 'Veriz',
 'VAN W',
 'SPRINTER',
 'Farm Vehicle',
 'nyc d',
 'passa',
 'C0MME',
 'jeep',
 'HORSE CARR',
 'CARGO',
 'bobca',
 'OIL T',
 'flat',
 'Mini',
 'house',
 'APORT',
 'sanit',
 'SELF-',
 'U.S. POSTA',
 'REFRI',
 'Movin',
 'E ONE',
 'tank',
 'unkno',
 '4whee',
 'bsd',
 'TR/KI',
 'SEMI-',
 'E3',
 'RD/S',
 'Sweep',
 'Bucketload',
 '3DC-',
 'Mecha',
 'FREE',
 'paylo',
 'us postal',
 'trk',
 'utility ve',
 '315 e',
 ...]

In [54]:
collisions['VEHICLE TYPE CODE 2'] = collisions['VEHICLE TYPE CODE 1'].str.title()
collisions['VEHICLE TYPE CODE 2'].replace({'scoo': 'Scooter', '11111': np.nan}, inplace=True)
collisions['VEHICLE TYPE CODE 2'].unique()

array(['Sedan', 'Station Wagon/Sport Utility Vehicle', 'Taxi', '�Mbu',
       'Pick-Up Truck', 'Box Truck', 'Bus', nan, 'Ambulance',
       'Tow Truck / Wrecker', 'E-Bike', 'Van', 'Flat Bed', 'Moped',
       'Tractor Truck Diesel', 'Bike', 'Trailer', 'Motorcycle',
       'Garbage Or Refuse', 'School Bus', 'Lift Boom', 'Scooter', 'Cater',
       'Pkup', 'Carry All', 'Fdny Ambul', '3-Door', 'Beverage Truck',
       'Semi Trail', 'Dump', 'Convertible', '4 Dr Sedan', 'Flat Rack',
       'Garbage Tr', 'Motorbike', 'Tanker', 'Armored Truck', 'Sw/Van',
       'Bulk Agriculture', 'Motorscooter', 'Utility', 'Concrete Mixer',
       'Open Body', 'E-Scooter', 'Unknown', 'Fire Truck', 'Glass Rack',
       'Commercial', 'Psd', 'Mta', 'Multi-Wheeled Vehicle', 'Pk',
       'Minicycle', 'Truck', 'Chassis Cab', 'Limo',
       'Tractor Truck Gasoline', 'Mack', 'Refrigerated Van', 'Carrier',
       'Nypd Van', '2 Dr Sedan', 'Mtr H', 'Pallet', 'Ambulane', 'Amb',
       'Mailtruck', 'Com', 'Util', 'Pick Up Tr', 'Ems Bus', 'Forklift',
       'Sanmen Cou', 'Pump', 'Dirt Bike', 'Firetruck', 'C1', 'Shuttle Bu',
       'Fdny', 'Nys Ambula', 'Tow Truck', 'Stake Or Rack', 'Ford',
       'Van Camper', 'Golf Car', 'Rv', 'Usps Truck', 'Uhal', 'Dodge',
       'Mini Van', 'Self Insur', 'Van/Truck', 'Ems', 'Kick Scoot',
       'Ladder Co', 'Semi', 'Mta Bus', 'Cargo Van', 'Ambu', 'Truck Comm',
       'Ford Van', 'Motor Scoo', 'Delivery T',
       'Enclosed Body - Nonremovable Enclosure', 'Skywatch', 'Dump Truck',
       'Electric S', 'Lunch Wagon', 'Sprinter V', 'Tl', 'Mack Truck',
       'Minibike', 'Pick Up', 'Hopper', 'Flatbed Pi', 'Horse Trai',
       'Golf Cart', 'Passenger', 'Crane', 'Pas', 'G Com', 'Nyc Fire T',
       'Fdny Fire', 'Self', 'Motorscoot', 'Ford Sprin', 'Ambukance',
       'Backhoe Lo', 'Snow Plow', 'Refg', 'Power Ladd', 'Utility Tr',
       'Utility Ve', 'Mercedes', 'Pickup', 'Fire', 'Oml/Omnibu',
       'Post Offic', 'Delv Br', 'Well Driller', 'Fdny Truck', 'Vanette',
       'Ambulence', 'Fdny Engin', 'Ems Ambula', 'Trac', 'Nyc Ambula',
       'Pickup With Mounted Camper', 'Tractor Tr', 'Cmixer', 'Us Postal',
       'Gas Scoote', 'Other', 'Trailer/Fl', 'Postal Veh', 'Flat', 'Delv',
       'G Psd', 'Usps', 'Pc', 'Hertz Ram', 'Fire Engin', 'Subn - Amb',
       'Spark150 S', 'Pickup Tru', 'Livestock Rack', 'Trailee',
       'Ups Truck', 'Fdny Chief', 'Special Co', 'Quality Tr',
       'Con Ed Tru', 'Road Sweep', 'Ems/Van', 'Bobcat', 'Co', '7532433',
       'Suburban', 'Unk', '4Ds', 'Sanitaion', 'Power Shov', 'Ram Promas',
       'Skid Loade', 'Marked Van', 'Excavator', 'Bulldozer', 'Hd',
       'Sanitation', 'Nynj Rail', 'Truck Trai', 'Box', 'Stak',
       'Van Truck', 'Amubulance', 'Postal Tru', 'Frht Trail', 'Trk',
       'Fdny Ems', 'Mta Truck', 'Niu', 'Tractor', 'Usps Truc,', 'Na',
       'Government', 'Firet Truc', 'G Amb', 'Tow', 'Utility Wh', 'Tk',
       'Fedex', 'U Haul Tru', 'Subr', 'Ambulette', 'Trailor',
       'Cement Tru', 'Fork Lift', 'Nyc Ems', 'Rep', 'Refuse Tru',
       'Motorized Home', 'Vms', 'Flat Bed T', 'Fdny Firet', 'Cmix',
       'Ladder Tru', 'Sanitaton', 'E-Skateboa',
       'Enclosed Body - Removable Enclosure', 'Usps 88716', 'Ebike',
       'Perm', 'Tf', 'Escooter S', 'Motor Home', 'City',
       'Passenger Vehicle', 'Camper Van', 'Tr', 'Tank', 'Grumman Ll',
       '994', 'Subn', 'Esu Rep', 'Nypd Tow T', 'White Van', 'Dent And S',
       "''Lime Mope", 'Pick Wh', 'Revel Scoo', 'Nyc Sanita', 'Dodge Ram',
       'Hwh', 'Unmarked V', 'Pedicab', 'Dumpster T', 'Cherv',
       'Skateboard', 'Usps Mail', 'Crane Boom', 'F550', 'Moving Tru',
       'Yamaha', 'Mini Bus', 'Work Van', 'Commerical', 'Sedona', 'Tlc',
       'Fdny Ladde', 'Mopd', 'Utility Va', 'Gas Powere', 'Engine Sp0',
       'Pass', 'Us Mail Tr', 'Gas Mo Ped', 'Scooter Ga', 'Pro Master',
       'Forlift', 'Motor Skat', 'Can', 'Flatbed Fr', 'N/A', 'Postal Van',
       'Firtruck', 'Ttailer', 'Ambulace', 'Street Swe', 'Delivery',
       'Usps/Govt', 'Truck Van', 'Suv', 'Catapillar', 'Swt', 'Flat  Bed',
       'Courier', 'Leased Amb', 'Smart Car', 'Message Si', 'E-Unicycle',
       'Street Cle', 'Lawnmower', 'Bicycle', 'Almbulance', 'Dark Color',
       'Fd Ladder', 'Abulance', 'Oth', 'Go Kart', 'Chevy Expr',
       'Slingshot', 'Dilevery T', 'Fdny #226', 'Freight Fl', 'Unkn',
       'Moving Van', 'Backhoe', 'Freight', 'Horse', 'Usps Van',
       'Truck Flat', 'Bobcat For', 'Pumper', 'Delivery V', 'Dot Equipm',
       'Gen  Ambul', 'J1', '18 Wheeler', 'Mail Truck', 'Front-Load',
       'Drill Rig', 'Wh Ford Co', 'E Revel Sc', 'Light Trai', 'Ut',
       'Cross', 'Food Truck', 'Bucket Tru', 'Gator', 'John Deere',
       'F-250', 'Pick-Up Tr', 'Back Hoe', 'Mechanical', 'Chevrolet',
       'Nyc Fd', 'Camper Tra', 'Fusion', 'Lcomm', 'E Skate Bo', 'Freig',
       'Flatbed', 'Trc', 'Hrse', '0', 'Postal Bus', 'F150Xl Pic', 'Cat',
       'Subn Whi', 'E Bike', 'Elec. Unic', '1C', 'Department',
       'E Scooter', '50Cc Scoot', 'Smyellscho', 'Work Truck',
       'Usps Posta', 'Ram', 'Tlr', 'Constructi', 'School  Bu',
       'Nonmotords', 'Police Rep', 'Ec3', 'Econoline', 'Frt', 'Ups',
       'Pick-Up', 'Rgr', 'Van Wh', 'White Ambu', 'Utility.', 'Freight Tr',
       'Trail', 'Fdny Emt', 'Trl', 'Freig Delv', 'Freightlin', 'Delviery',
       'E-Bik', 'Escavator', 'Omr', 'P/Sh', 'Ford Econo', 'Pick',
       'Usps #7530', 'Hearse', 'Orion', 'H1', 'Piggy Back', 'Se',
       'Push Scoot', 'Postal Ser', 'Nat Grid T', 'Yellow Cab',
       'Com Trans', 'Lit Direct', 'Backh', 'D/V Wb', 'Emergency', 'Wagon',
       'T880', 'Pay Loader', 'Fdny Ems V', 'Oms', 'Rv/Van', 'Tr-Trailer',
       'Esu Rescue', 'Ttrailer', 'I-Haul', 'Boom Lift', 'Toyota', 'Jeep',
       'Mini Schoo', 'U-Haul Min', '12 Passeng', 'Usps Vehic',
       '12 Passage', 'Fire Appar', 'Carriage', 'Rmp V', 'Yellowpowe',
       'Skate', '197209', 'Posta', 'E450', 'Utili', 'Ambul', 'Schoo',
       'Tow T', 'E-Sco', 'Towe Truck', 'St', 'Amulance', 'Unkno',
       'Dept Van #', 'Grumm', 'Firet', 'E Bik', 'Psh', 'Us Po', 'Golf',
       'Tract', 'Box T', 'Uhual', 'Delvi', 'Scoot', 'Picku', 'Deliv',
       'L1', 'Forkl', 'Van T', 'Paylo', 'Sanit', 'Econo', 'Van/T', 'Fuel',
       'Tanke', 'Garba', '3 Whe', '2015', 'Sprin', 'Road', 'Dot T',
       'Mta B', 'Flat/', 'Food', 'Comme', 'Acces', 'Stree', 'Liebh',
       'Cab', 'Usp M', 'Santi', 'Ltr', 'Prks', 'G Spc', 'Cont', 'Hi Ta',
       'Cat.', 'Polic', 'Parce', 'Const', 'Comm', '35 Ft', 'Wineb', 'Pu',
       'Boxtr', 'White', 'Towtr', 'Pick-', 'Power', 'Mini', 'Elect',
       'Trlr', 'Fork', 'Vespa', 'Mobil', 'Back', 'Limou', 'Uhaul', 'Bs',
       'Excav', 'Dolly', 'Appor', 'F650', 'Skid-', 'E Sco', 'Dirt',
       'Ice C', 'Motor', 'Kubot', 'Nys A', 'Range', 'Lmb', 'Bulld',
       'Flatb', 'Barri', 'Comm.', 'Mail', 'Unkow', 'Van (', 'Btm',
       'Attac', 'Nttrl', 'Yello', 'Movin', 'Nypd', 'Subur', 'Rescu',
       'Couri', 'E - B', 'Navig', 'Commu', 'C3', 'Tir', 'Track Exca',
       'Concr', 'Hino', 'Dumps', 'Cat P', 'Frieg', 'Boom', 'Rmp', 'Passe',
       'Segwa', 'Sc', 'Sea', 'Moter', 'U-Hau', 'Bucke', 'Bk', 'Nycha',
       'Snow', 'Comer', 'Grain', 'E Amb', 'Spc', 'A', 'Tktr', 'Vav',
       'Santa', 'None', 'Gover', 'Te', 'Ltrl', '\x7fOmm', 'Trans',
       'Track', 'Mac T', 'Ups T', 'Nissa', 'Log', 'Cms-T', 'Red T',
       'Usps2', 'Feder', 'Bicyc', 'Nyc D', 'Winne', 'Frht', 'Uspos', 'Mc',
       'Ems A', 'Van C', 'Diese', 'Budge', 'Sweep', 'Omnib', 'Fed E',
       'Me/Be', 'Fd Fi', 'Push', 'Chevy', 'Comix', 'Mopad', 'Van A',
       '12 Pa', 'Dumpt', 'Light', 'Army', 'Tower', 'Boat', 'E Com',
       'Mark', 'Emrgn', 'Roads', 'Rd/S', 'Coupe', 'Work', 'Workh',
       '2- To', 'Broom', 'Trt', 'Block', 'Cherr', 'Utv', 'Nyc', 'Loade',
       'Ns Am', 'New Y', 'Gray', 'Front', 'Camp', 'Rgs', 'Posto', 'R/V C',
       'Sgws', 'Cat 9', 'E-Mot', 'Fork-', 'Wheel', 'Fd Tr', 'Case',
       'Liber', 'Comb', 'Heavy', 'R/V', 'Bed T', 'Bobca', 'Dema-', 'Cart',
       'Cemen', 'Trlr Plt,', 'Spec', '99999', 'Seagr', 'Van/B', 'Chart',
       'Nyc M', 'Mcy', 'Icecr', 'Amabu', 'Omt', 'Tow-T', 'Cushm', 'Ulili',
       'Cargo', '15 Pa', 'Smart', 'Inter', 'Nyc A', 'Dot R', 'Highl',
       '2 Ton', 'E-350', 'Commm', 'Electric B', 'G Sem', 'Marke', 'Veriz',
       'Van W', 'Sprinter', 'Farm Vehicle', 'Passa', 'C0Mme',
       'Horse Carr', 'Oil T', 'House', 'Aport', 'Self-', 'U.S. Posta',
       'Refri', 'E One', '4Whee', 'Bsd', 'Tr/Ki', 'Semi-', 'E3',
       'Bucketload', '3Dc-', 'Mecha', 'Free', '315 E', 'Liver', 'Rubbe',
       'Carri', 'Dp', 'P/Se', '1S', 'Abula', 'Oml', 'Nyc Bus', 'Ladde',
       'Gov V', 'Omni', 'Nyc F', 'Pedic', 'Renta', 'John', 'St150',
       'Tan P', 'Ge/Sc', 'Vang', 'Small', 'Pavin', 'Psr', 'Mo Pa', 'East',
       'Priva', 'Sfi', 'Livery Bus', 'Elec.', 'Sterl', 'Sd', 'Tl Tr',
       'State', 'Tram', 'Cabin', 'Mta U', 'Tailg', 'Dirtb', 'Del',
       'Glben', 'Nt Tr', '4 Axe', 'Stack', 'Kme/F', 'Nycta', 'Token',
       'Mtr S', 'Oz Mo', 'Delie', '11-Va', '3 Doo', 'Bobct', 'Mcy B',
       'Catip', 'Progr', 'App', 'Mvp', 'Miniv', 'Tcn', 'Car C', 'Ringo',
       'Workm', 'Rmb', 'Yw Po', 'Pet', 'Semi-Trail', 'Mo Pe', 'Yamah',
       'U Hau', 'Pois', 'Feig', 'Mta C', 'G1', 'Ladder 34', 'Depar', '4D',
       '4Dr', 'Sudn', 'F15', '5X8 T', 'Ss', '18 Wh', 'Esu T', 'Shove',
       'Unkown', 'Tcm', 'Armor', 'Geico', 'Vab', 'Sw', 'Pumpe', 'G Tow',
       'Kenwo', 'Repai', 'Eamb', 'Utlit', 'Scoo', 'Kp160', '4 Run', 'Ld',
       'Snowmobile', 'Rood', '?Omme', 'Sybn', 'Plow', 'Usps # 487',
       'Fleet', 'G1`', 'Fedx', 'Stake', 'Us', 'Ems T', 'Com T', 'Vpg',
       'Amdu', 'Atv P', 'Trac.', '5', 'Conve', 'Sub', 'Olc', 'Chevr',
       'City Owned', '3Door', 'E.M.S', 'Scomm', 'Black', 'Maxim', 'Ps',
       '985', 'T/ Cr', 'Fre', 'Swepe', 'Sport Utility / Station Wagon',
       'E Tow', 'Omt/T', 'Scl', 'Conta', 'Firer', 'Green', 'Ems B', 'Fr`',
       'A-One', 'Tr/Tr', 'Scooc', 'Yy', '2 Whe', 'Rv/Tr', 'Psp', 'Gokar',
       'E- Bi', 'Us Ma', 'Servi', 'Sm Yw', 'Hosre', 'Nyfd', 'Trali',
       '26 Ft', 'Engin', 'Dhl T', 'Contr', '9999', 'Nyu S', 'Cm', 'Suret',
       'Dsny', 'Pass-', 'Box H', 'Pas V', 'Coach', 'Con E', 'D3', '250-3',
       'Com V', 'Towma', 'Deiv', 'Govt.', 'Yale', 'H3', 'P/U', 'Hd To',
       'Scom', 'Lcom', 'Left', 'Coll', 'No/Bu', '2 Dr', 'Ups M', 'Refr',
       '3-Whe', 'Not I', 'Ecom', 'Whit', '4Dsd', 'Isuzu', '4Door',
       'Aeria', '2 Doo', 'Conti', 'C 1', '2000', 'Grail', 'I1', 'Farm',
       'Hi-Lo', 'Hdc', 'Van E', 'Ukn', 'Mta V', 'Lmtv', 'Unknw', '4Sedn',
       'Flat-', 'Bkhoe', 'Tc', 'Us Go', 'Tlc P',
       'Small Com Veh(4 Tires) ', 'Fled', 'Lsa', 'Vanet', 'U-Hal', 'C2',
       'High', 'Chev', 'Frh', 'G Scl', 'Livery Vehicle',
       'Large Com Veh(6 Or More Tires)'], dtype=object)

In [55]:
collisions.groupby('CRASH YEAR').sum()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,MULTI-CAR
CRASH YEAR,,,,,,,,,,,
2012,3.479906e+06,-6.317853e+06,27453.0,137.0,5906,72,2210,6,19331,59,0.0
2013,7.001534e+06,-1.271036e+07,55124.0,297.0,11988,176,4075,11,39060,110,0.0
2014,7.034421e+06,-1.276935e+07,51223.0,262.0,11036,133,4000,20,36176,109,0.0
2015,7.451619e+06,-1.352611e+07,51358.0,243.0,10084,133,4281,15,36992,95,0.0
2016,7.826467e+06,-1.420810e+07,60317.0,246.0,11090,149,4975,18,44010,72,0.0
2017,8.836971e+06,-1.604679e+07,60657.0,256.0,11151,127,4889,27,44616,107,0.0
2018,8.802428e+06,-1.598224e+07,61939.0,231.0,11123,123,4725,10,46068,98,0.0
2019,7.893567e+06,-1.432579e+07,61389.0,244.0,10568,131,4986,31,45834,82,0.0
2020,4.227987e+06,-7.673009e+06,44605.0,269.0,6689,102,5576,29,32340,138,0.0
2021,4.098178e+06,-7.438173e+06,51683.0,288.0,7486,126,4947,19,37124,131,0.0
2022,5.546643e+04,-1.006715e+05,627.0,4.0,112,2,31,0,470,2,0.0

In [56]:
cols_for_kepler = ['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED']

In [57]:
kepler_df = collision_df[cols_for_kepler].dropna()

In [58]:
kepler_df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
1,04/13/2021,21:35,BROOKLYN,11217,40.683580,-73.97617,1.0,0.0,1,0,0,0,0,0
13,05/21/2019,22:50,BROOKLYN,11201,40.697540,-73.98312,0.0,0.0,0,0,0,0,0,0
15,02/26/2021,14:50,BRONX,10461,40.843464,-73.83600,0.0,0.0,0,0,0,0,0,0
17,03/31/2021,22:20,BROOKLYN,11234,40.626457,-73.91800,1.0,0.0,0,0,0,0,1,0
18,04/06/2021,22:58,STATEN ISLAND,10312,40.526894,-74.16728,7.0,0.0,0,0,0,0,7,0

In [23]:
for row in collision_df.values:
    print(row)

In [17]:
# Load a map with data and config and height
from keplergl import KeplerGl
map_2 = KeplerGl()
map_2.add_data(data=kepler_df, name='Summary of Vehile Collisions in NYC')

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [ ]:
map_2